# Introducting Time Series Analysis

Today, we'll learn about a core skill in any FinTech professional's toolbox: analyzing a time series DataFrame using the Pandas library!

In [ ]:
# Let's import pandas with the common alias as pd, and turn of "Chained Assignment" warnings

# Let's import the Path() method so we can bring in our CSV file

## Reading our CSV files

In [ ]:
# Let's read our CSV file!
csv_path = 
goog_df = 

# Let's look at the first 10 entries in goog_df

In [ ]:
# And the last 2

In [ ]:
# Let's check out the entries of December 1st, 2020 through January 29th, 2021 in our High column with loc[]

In [ ]:
# Let's use iloc[] to examine the first row of our DataFrame.

In [ ]:
# Let's use loc[] to examine stock prices from January 2020 onward.
goog_df_from_2020 = 

goog_df_from_2020

In [ ]:
# Let's check out some statistics about our goog_df_from_2020 DataFrame using describe()

In [ ]:
# Let's check out some statistics about our goog_df_from_2020 DataFrame using describe(), 
# only looking at columns between "Open" and "Close"

## Trimming our DataFrames

In [ ]:
# How many times is Close price different from Adj Close price?
goog_2020_close_adjust_diff =

In [ ]:
# Let's use bracket notation and our goog_200_close_adjust_diff boolean list to view which rows
# have different values in Close and Adj Close price.
goog_df_from_2020[goog_2020_close_adjust_diff]

In [ ]:
#  Let's drop all rows with NaN values in Close and Adj Close columns.
goog_df_from_2020 = 
goog_df_from_2020

goog_2020_close_adjust_diff =

# Let's count how many True values remain.

In [ ]:
# For safety, let's check out what a DataFrame of all columns with NaN values in Close and Adj Close look like.
# We should see no more rows with NaN in either Close or Adj Close.
goog_df_from_2020[goog_2020_close_adjust_diff]

In [ ]:
# For demonstration purposes, let's drop the Adj Close column, since we're certain it has the same values as our Close colum anyway.
goog_df_from_2020

# Let's check the tail, where we had seen an NaN value under "Close" previously.

In [ ]:
# Let's use isna() and sum() to count how many NaN values we see under Volume.

In [ ]:
# Let's check the dtype for Volume.

In [ ]:
# Let's see how many values under Volume are not full numbers cleanly divisible by 1.
goog_df_vol_non_int =

In [ ]:
# Let's examine those values.
goog_df_from_2020[goog_df_vol_non_int]

In [ ]:
# Let's replace all of the NaN occurrences with the mean.

# Let's reassign this column as an int

In [ ]:
# Let's exmaine the dtype for our Volume column now.

In [ ]:
# Let's generate a new Series in our DataFrame that calculates the difference between 
# each row's value under the **High** and **Low** columns.
goog_df_from_2020["High/Low Split"] =

# How many NaN values remain throughout our DataFrame?

In [ ]:
# Let's drop all NaN values across our DataFrame.

In [ ]:
# Let's run describe() on our High/Low Split Series.

In [ ]:
# Let's create a variable which stores all values in our "High/Low Split", with ascending set to False.
goog_df_from_2020_split_sorted =

# Let's view our Series.
goog_df_from_2020_split_sorted

In [ ]:
# Let's create a new column in our DataFrame called Closed Price Change to represent the daily price difference in
# the Closed column, using the shift() method.
goog_df_from_2020["Close Price Change"] =

# Let's display our chart.
goog_df_from_2020

In [ ]:
# Let's create a new column in our DataFrame called Closed Pct Change to represent the daily percent difference in
# the Closed column, using the shift() method.
goog_df_from_2020["Close Pct Change"] =

# Let's display our chart.
goog_df_from_2020

In [ ]:
# Let's do the same as above, but save ourselves time by using the pct_change() method.
goog_df_from_2020["Close Pct Change"] = 

# Let's display our chart.
goog_df_from_2020

In [ ]:
# Let's sort our data in our "Close Pct Change" Series in descending order.

# Let's view our values in goog_df_from_2020_close_pct_sorted

## Graphing our data

In [ ]:
# Let's use plot() to view a line graph of our Close Series.

In [ ]:
# Let's plot a line graph of goog_df_from_2020_split_sorted

In [ ]:
# Let's plot a historical graph of goog_df_from_2020_split_sorted

In [ ]:
# Let's check in on that `goog_df_from_2020_split_sorted` variable we created earlier, and examine it with a `box` plot.

In [ ]:
# Let's confirm these values with exact number figures.

In [ ]:
# Let's read our CSV file for ADBE!
adbe_csv_path = 
adbe_df = 

# Let's just examine stock prices from 2020 onward.


# How many NaN values do we count across this DataFrame?

In [ ]:
# Let's append the same additional columns we created for GOOG.

In [ ]:
# Let's plot these two line graphs together.

In [ ]:
# Let's give our graph some labels.

In [ ]:
# Let's provide greater context with plot's legend, color, label, title and secondary_y arguments, and assign these plots to variables
ax_goog = 
ax_adbe = 

# Let's use set_ylabel method to add labels on each Y-axis

In [ ]:
# Question: Which symbol performed better?

# Answer: It looks like that `ADBE` may have a slight edge. `ADBE` started out relatively lower in value 
# by comparison to its current price, relative to what we see in `GOOG`. Indeed, throughout most of 2020,
# ADBE strongly outperformed `GOOG` in relative terms.